
.heroContainer {
  height: 250px;
  background-image: url('../img/docs_banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroText {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 900;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;
  max-width: 1140px;
  
}

/* ---------- ACCORDION STYLES ---------- */
.accordion>.card .card-header  {
  margin: 5px 10px !important;
}
.accordion>.card {
  overflow: auto;
}

.card {
  border: 0; 
  margin-bottom: 5px;
  background-color: transparent;
  /* height: 90px; */
}

.card .card-header {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); */
  box-shadow: 0px 3px 8px #00000033;
  border-radius: 20px !important;
  padding: 20px;
}

.accordion .btn {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: left;;
}

.accordion .btn:hover {
  text-decoration: none;
}

.docContent {
  padding: 60px 0;
}

.docContent .row {
  /* height: 1000px; */
  max-width: 1140px;
  width: 80%;
  margin: auto;
}

.sidebar {
  background: #FAFAFA;
  box-shadow: 0px 3px 8px #00000033;
  border-radius: 20px;
  padding: 10px;
}

.card-header button:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.docsPage {
  word-break: break-word;
}


@media only screen and (max-width: 567px) {
  .docsPage {
    margin-top: 80px;
  }
}

.card-body {
  padding: 0;
}
.page-link-card {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000033;
  border-radius: 20px;
  list-style-type: none;
  padding: 15px;
  margin: 15px auto;
  width: 97%; 
}

.page-link-card a {
  font-size: 16px;
  font-weight: 600;
  color: #019acd;
} 

/* ---------- LINK STYLES ---------- */
.category-link {
  color: #707070;
}
.category-link:hover {
  text-decoration: none;
  color: #707070;
  /* color: black; */
}




/* ---------- DOC PAGE STYLES ---------- */
.docPage section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.docPage section p {
  color: #909090 !important;
  line-height: 2;
}
.docPage .back-to-top {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #00000029;
  border-radius: 13px;
  border: 0;
  padding: 5px 0;
  color: #019acd;
  font-size: 12px;
  width: 105px;
  align-self: flex-end;
}

.docPage .back-to-top:focus {
  outline: 5px auto #019acd
}

.docPage h1 {
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.docPage h3 {
  color: #019acd;
  font-size: 1.2rem;
  font-weight: 900;
}
.docPage ul { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

.docPage ul li:before { 
  content:"•"; 
  font-size:16pt; 
  margin-right: 15px;
}
.docPage ul li, .docPage ol li { 
  margin: 20px 0;
  line-height: 1.6;
  color: #909090;
}
.docPage  li .font-weight-bold, .docPage li .font-weight-bold{ 
  font-weight: 600 !important;
}

.docPage ul a, .docPage section a {
  color: #019acd;
}

.docPage ol {
  padding-left: 15px;
  margin: 0;
}

.docPage ol li {
  padding-left: 15px;
}

.docPage .definitions {
  margin: 1.3rem 0;
  letter-spacing: 0.5px;
}

.docPage .definitions h5{
  font-size: 1.1rem;
}
.docPage .definitions p {
  line-height: 1.6;
  color: #909090;
}


.kimNotes {
  color: red;
  font-weight: 400;
}
.kimNotes:before {
  content: 'Kimberly: ';
  color: hotpink;
}
/* OLD COLOR: #019acd */